// Загальні стилі
body {
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.container {
    max-width: 1200px;
}
a {
    text-decoration: none;
    color: inherit
}
a:hover {
    text-decoration: none;
    color: inherit
}
.btn-primary {
  background-color: #008ed6 !important;
}
.text-primaryy {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 48px;
  text-transform: uppercase;
  color: #008ed6;
  font-weight: 700;
}
.text-secondary {
    font-size: 18px;
    color: #999;
    line-height: 26px;
}
.black-text {
  font-weight: 600;
  font-size: 36px;
  color: #000;
}
// Header
.headerbg {
    background: no-repeat center;
    background-size: cover;
    background-image: url('/dist/images/\ bg.png');
    height: 640px;
}
.header {
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}
.logo-main {
  font-size: 24px;
  line-height: 58px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}
.logo-sub {
  opacity: 0.302;
  font-size: 9px;
  letter-spacing: 0.14em;
  line-height: 10px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  margin-left: 7px;
}
.header-menu {
    list-style: none;
    padding-top: 6px;
    padding-right: 1px;
    margin: 0;
    display: flex;
    gap: 23px;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
  
    li {
    font-size: 16px;
    color: #fffefe;
    font-weight: 600;
    text-align: right;
    display: flex;
    align-items: center;
    }
  }
.double-dash {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 20px;
      height: 2px;
      background: #008ed6;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &::before {
      left: calc(50% - 11px); // Зміщення вліво
    }
    &::after {
      left: calc(50% + 11px); // Зміщення вправо
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  } 
.home {
  height: 540px;
}
.two-devices {
  height: 96%;
  object-fit: contain;
  position: absolute;
  overflow: hidden;
  bottom:  0;
  right: 0;
  z-index: 1;
}
.home-button {
  width: 160px;
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}
.contact-form {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 326px;
    height: 428px;
    background: white;
    padding: 25px;
    z-index: 999;
    display: none;
    &.on {
      display: block;
    }
}
.contact-input {
  margin-bottom: 20px;
}
.contact-input::placeholder {
    color: #cccccc;
    font-weight: bold;
    font-size: 14px;
}
// features
.featuresbg {
  background-color: white;
  padding-top: 44px;
  padding-bottom: 64px;
}
.centered {
  margin: auto;
}
.double-dash-active {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #008ed6;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &::before {
    left: calc(50% - 11px); // Зміщення вліво
  }
  &::after {
    left: calc(50% + 11px); // Зміщення вправо
  }
}
.element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 48px;
}
.element-circle {
  width: 90px; 
  height: 90px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.element-description {
  max-width: 250px;
  margin-top: 8px;
}
.divider {
  height: 1px;
  background-color: #ededed;
  width: 100%;
  margin-bottom: 65px;
  margin-top: 5px;
}
// dip into details
.dip-into-detail {
  background-color: white;
  &.even {
    background-color: #f2f2f2;
  }
}
.reversed {
  flex-direction: row-reverse;
}
.pictogram {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.details-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;

  li {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 36px;
    color: #1b1b1b;

    img {
      width: 18px;
      height: 18px;
      margin-right: 7px;
      flex-shrink: 0;
      object-fit: contain;
    }
  }
}
//slider
.sliderbg {
  background: no-repeat center;
  background-size: cover;
  background-image: url('/dist/images/\ bg2\ Prostokąt\ 4.png');
  height: 640px;
  padding-top: 45px;
}
.swiper-slide-active{
  padding-left: 10px;
}
.quote {
  height: 100%;
  margin-top: 80px;
  padding-top: 5px;
}
.quote-text {
  padding-top: 3px;
  padding-left: 4px;
  font-size: 24px;
  color: white;
  margin-bottom: 22px;
  font-style: italic;
  line-height: 32px;
  max-width: 570px;
}
.quote-author {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.quote-picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  background: transparent;
  opacity: 0.5;
  margin: 11px !important;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-bottom: 10px !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  width: 14px;
  height: 14px;
  background: #fff;
  margin-bottom: 6px !important;
}
// Like what you see
.lwysbg {
  background-color: #15141a;
  height: 170px;
}
//  price
.price {
  height: 490px;
  display: flex;
  flex-direction: column;
  outline: 1px solid #e4e4e4;
  border-radius: 1px;
  max-width: 270px;
  margin-bottom: 10px;
}
.price-title {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  border-bottom: 1px solid #e4e4e4;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  padding-top: 5px;
  &.h {
    color: #008ed6;
  }
}
.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  transition: 0.3s ease-in-out;
  padding-bottom: 10px;
  &.h {
    background-color: #008ed6;
  }
}
.price-info-title {
  color:#1a1a1a;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: -18px;
  padding-right: 7px;
  transition: 0.3s ease-in-out;
  &.h {
    color: #fff;
  }
}
.price-info-sub {
  font-size: 18px;
  color: #999999;
  transition: 0.3s ease-in-out;
  &.h {
    color: #fff;
  }
}
.price-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 100%;
  background-color: #fff;
}
.price-button {
  width: 160px;
  height: 50px;
  color: #008ed6;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  &.h {
    background-color: #008ed6;
    color: white;
  }
}
//contact
.contactbg {
    background-color: #ededed;
    padding-top: 42px;
}
.element-without-circle {
  width: 90px; 
  height: 90px;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
#map {
  width: 100%;
  height: 370px;
  z-index: 1 !important;
  margin-top: -64px;
}

.pool-form {
  background-color: #15141a;
  padding: 60px;
  padding-bottom: 40px;
  position: relative;
  z-index: 999999;
}
.pool-input {
  max-width: 300px;
margin-bottom: 20px;
background-color: #15141a;
border-color: #444348;
height: 50px;
padding: 15px;
}
@media (max-width: 575px) {
  #pool-leftcolumn {
    padding-left: 0px !important;
  }
}

.pool-input::placeholder {
  color: #444348;
  font-weight: bold;
  font-size: 14px;
}


// footer
.footerbg {
  background-color: #15141a;
  height: 160px;
}
.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.footer-icon {
  width: 30px; 
  height: 30px;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.footer-text {
  font-size: 14px;
  color: #444348;
  text-align: center;
  font-weight: 600;
}