@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.bg-header {
  background-image: url('../images/bg.png'); 
  background-size: cover; 
  background-position: center top; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 640px;
  overflow: visible;
}
.small-gray-text {
  font-size: 9px;
  text-align: left;
  color: gray;
}
.bold-quicksand {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.bold-quicksand:hover {
  cursor: pointer;
}
.header {
  height: 96px;
  margin-top: 48px;
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.header:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
  